<!doctype html>
<html lang="en">
  <head>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
        
  </head>
  <body class="bg-light">
    
<div class="container">  
  <br><br><br><br>
  <div class="row justify-content-center">    
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3 text-center">Alta contenedor</h4>
      <form class="needs-validation" novalidate [formGroup]="formGroup">
        <div class="row justify-content-center">
          <div class="col-md-4 mb-3">
            <label for="firstName">Marca</label>
            <input type="text" class="form-control" id="firstName" placeholder="" value="" required formControlName="marca">
            <div *ngIf="formGroup.get('marca')!.invalid && (formGroup.get('marca')!.dirty || formGroup.get('marca')!.touched)" class="alert-danger d-inline-flex">
              El marca es requirido.
            </div>
          </div> 
          <div class="col-sm-2">
            <label for="address">Codigo</label>
            <input type="text" class="form-control" id="address" placeholder="" required formControlName="codigo">
            <div *ngIf="formGroup.get('codigo')!.invalid && (formGroup.get('codigo')!.dirty || formGroup.get('codigo')!.touched)" class="alert-danger d-inline-flex">
              La Codigo es requerido.
            </div>
          </div>        
        </div>       
        <div class="row">
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-2">
          <label for="address">Capacidad</label>
          <input type="number" class="form-control" id="address" placeholder="" required formControlName="capacidad">
          <div *ngIf="formGroup.get('capacidad')!.invalid && (formGroup.get('capacidad')!.dirty || formGroup.get('capacidad')!.touched)" class="alert-danger d-inline-flex">
            La capacidad es requerida.
          </div>
        </div>
      </div>
      <div class="row">        
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
        <hr class="mb-4">
        <button [disabled]="!(this.formGroup.status == 'VALID')" class="btn btn-primary btn-lg btn-block" (click)="guardar()" >Guardar</button>
      </div>
      </div>
      </form>
    </div>
  </div>  
</div>
  <app-listar-contenedores></app-listar-contenedores>
  </body>
</html>
