
  
<br>
<div class="container py-3">
  <header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Productos</h1>
      <p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
      <div class="container">
        <div class="row" *ngIf="!altaPizza">
            <div class="col-sm-4">
                    <!-- <button type="button" class="w-100 btn btn-lg btn-primary">Nueva Pizza</button> -->
            </div>
            <div class="col-sm-4">
                <button type="button" class="w-100 btn btn-lg btn-primary" (click)="nuevaPizza()">Nuevo Producto</button>
            </div>
            <div class="col-sm-4">
                <!-- <button type="button" class="w-100 btn btn-lg btn-primary">Nueva Pizza</button> -->
            </div>
        </div>
    </div>          
    </div>
  </header>
  
    <app-alta-pizza *ngIf="altaPizza" (enviar)="manejarNuevoProducto($event)"></app-alta-pizza>
  <br>
  <main>
    <div *ngIf="listaPizza!=null" class="row row-cols-1 row-cols-md-3 mb-3 text-center">      
      <div class="col" *ngFor="let pizza of listaPizza">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">{{pizza.nombre}}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{pizza.precio}}<small class="text-muted fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>{{pizza.ingredientes}}</li>
              <li>{{pizza.peso}}</li>
            </ul>
            <app-modificar-pizza [pizza]="pizza"></app-modificar-pizza>
            <app-eliminar-pizza [pizza]="pizza"></app-eliminar-pizza>
          </div>
        </div>
      </div>
    </div>
  </main>
  
</div>


    
