<section class="text-center">
    <div class="container">
      <h1>Listado Productos</h1>
    </div>
  </section>
<div class="album py-5 bg-light">
    <div class="container">
  
      <div class="row">
        <div class="col-md-4" *ngFor="let pizza of listPizzas">
          <div class="card mb-4 shadow-sm">              
            <div class="card-body">
              <!-- <p class="card-text">Si tienes hambre y te apetece pedir comida a domicilio, LaPizzeria es la mejor opción.</p> -->
                <p>Descripcion: {{pizza.descripcion}}</p>
                <p>precio: {{pizza.precio}}</p>
                <p>Pais: {{pizza.pais}}</p>
                <p>Stok: {{pizza.stock}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="pizzaSeleccionada(pizza)">Seleccionar</button>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  