    <h1>Detalle</h1>
    <div class="col-md-6">
      
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Detalle</h2>
        <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
        <p *ngIf="repartidor!=null">{{repartidor.nombre}}</p>
        <p *ngIf="repartidor!=null">{{repartidor.edad}}</p>
        <p *ngIf="repartidor!=null">{{repartidor.capacidad}}</p>
        <p *ngIf="repartidor!=null">{{repartidor.unidaPropia}}</p>
        <p *ngIf="repartidor!=null">{{repartidor.dni}}</p>
        <button class="btn btn-outline-light" type="button">Example button</button>
      </div>
    </div>  

