    <h1>Detalle</h1>
    <div class="col-md-6">

      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Detalle del producto</h2>
        <p>Esta es la infromacíon detallada acerca del producto seleccionado.</p>
        <p *ngIf="producto!=null">Nombre: {{producto.nombre}}</p>
        <p *ngIf="producto!=null">Stock: {{producto.stock}}</p>
        <p *ngIf="producto!=null">Precio: {{producto.precio}}</p>
        <p *ngIf="producto!=null && producto.comestible">Comestible</p>
        <p *ngIf="producto!=null && !producto.comestible">No Comestible</p>
        <p *ngIf="producto!=null">Codigo: {{producto.codigo}}</p>
        <!-- <button class="btn btn-outline-light" type="button">Example button</button> -->
      </div>
    </div>
